/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#root {
    width: 624px;
    margin: 16px auto;
    /* background-color: #f9f9f9; */
    background-color: #ececec;
    border-radius: 8px;
}

/* NAVBAR SECTION */

nav {
    height: 70px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.nav--airbnb {
    width: 82px;
    height: 25px;
    margin-left: 30px;
}

/* HERO SECTION */

.hero-section {
    display: flex;
    flex-direction: column;
}

.hero--image {
    margin: 26px auto;
}

.hero--heading {
    font-weight: 600;
    font-size: 36px;
    margin: 8px 30px;
}

.hero--text {
    font-weight: 300;
    font-size: 16px;
    color: #222222;
    max-width: 300px;
    margin: 4px 30px;
}

/* CARDS SECTION */

.cards-section {
    /* display: flex; */
    margin: 30px;
}

.card {
    margin-right: 16px;
    margin-bottom: 32px;
}

.cards--badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #222222;
    background-color: white;
    width: 72px;
    height: 20px;
    margin-bottom: -26px;
    margin-left: 6px;
    position:sticky;
}

.cards--image {
    width: 176px;
}

.cards--stats {
    margin-bottom: 4px;
}

.cards--star {
    width: 14px;
    margin-right: 4px;
    margin-bottom: -2px;
}

.cards--rating {
    margin-right: 4px;
}

.cards--text {
    font-size: 12px;
    font-weight: 300;
}

.cards--gray {
    font-size: 12px;
    font-weight: 300;
    color: #918E9B;
}

.cards--bold {
    font-size: 12px;
    font-weight: 600;
    color: #222222;
}